@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Vampiro+One&family=Wallpoet&display=swap");
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes up-home {
  from {
    visibility: hidden;
    top: 60%;
  }
  to {
    visibility: visible;
    top: 50%;
    opacity: 1;
  }
}

@keyframes up-home {
  from {
    visibility: hidden;
    top: 60%;
  }
  to {
    visibility: visible;
    top: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes up-arrow {
  from {
    bottom: 2rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 12.5rem;
  }
}

@keyframes up-arrow {
  from {
    bottom: 2rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 12.5rem;
  }
}

@-webkit-keyframes up-arrow-base {
  from {
    bottom: -8rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: -4px;
  }
}

@keyframes up-arrow-base {
  from {
    bottom: -8rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: -4px;
  }
}

@-webkit-keyframes left {
  from {
    left: -30%;
  }
  to {
    left: -2rem;
  }
}

@keyframes left {
  from {
    left: -30%;
  }
  to {
    left: -2rem;
  }
}

@-webkit-keyframes leftMobile {
  from {
    left: -30%;
  }
  to {
    left: 15%;
  }
}

@keyframes leftMobile {
  from {
    left: -30%;
  }
  to {
    left: 15%;
  }
}

@-webkit-keyframes right {
  from {
    right: -30%;
  }
  to {
    right: -2rem;
  }
}

@keyframes right {
  from {
    right: -30%;
  }
  to {
    right: -2rem;
  }
}

@-webkit-keyframes rightMobile {
  from {
    right: -30%;
  }
  to {
    right: 15%;
  }
}

@keyframes rightMobile {
  from {
    right: -30%;
  }
  to {
    right: 15%;
  }
}

@-webkit-keyframes downMobile {
  from {
    top: -5rem;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 10%;
  }
}

@keyframes downMobile {
  from {
    top: -5rem;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 10%;
  }
}

@-webkit-keyframes down {
  from {
    top: -5rem;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 20%;
  }
}

@keyframes down {
  from {
    top: -5rem;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 20%;
  }
}

@-webkit-keyframes width {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes width {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes left-width {
  from {
    left: 25%;
    width: 0;
  }
  to {
    width: 25%;
    left: 48%;
  }
}

@keyframes left-width {
  from {
    left: 25%;
    width: 0;
  }
  to {
    width: 25%;
    left: 48%;
  }
}

@-webkit-keyframes left-width-small {
  from {
    left: 0;
    width: 0;
  }
  to {
    width: 15%;
    max-width: 16rem;
    left: 3%;
  }
}

@keyframes left-width-small {
  from {
    left: 0;
    width: 0;
  }
  to {
    width: 15%;
    max-width: 16rem;
    left: 3%;
  }
}

@-webkit-keyframes right-width {
  from {
    width: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  to {
    width: 15%;
    max-width: 12rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right-width {
  from {
    width: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  to {
    width: 15%;
    max-width: 12rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes up {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes left-rotate {
  0% {
    -webkit-transform: translate(100px, 0px) rotate(-273deg);
            transform: translate(100px, 0px) rotate(-273deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes left-rotate {
  0% {
    -webkit-transform: translate(100px, 0px) rotate(-273deg);
            transform: translate(100px, 0px) rotate(-273deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@-webkit-keyframes left-rotate2 {
  0% {
    -webkit-transform: translate(100px, 0) rotate(-180deg);
            transform: translate(100px, 0) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-90deg);
            transform: translate(0, 0) rotate(-90deg);
  }
}

@keyframes left-rotate2 {
  0% {
    -webkit-transform: translate(100px, 0) rotate(-180deg);
            transform: translate(100px, 0) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-90deg);
            transform: translate(0, 0) rotate(-90deg);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: orangered;
  color: black;
}

::selection {
  background-color: orangered;
  color: black;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: white;
  background-color: #191a1a;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

.name {
  font-family: "Rock Salt", cursive;
  position: absolute;
  text-align: center;
  top: -5rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  font-size: 2.2rem;
}

.name--short {
  -webkit-animation: downMobile 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
          animation: downMobile 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
}

@media (min-width: 769px) {
  .name--short {
    display: none;
  }
}

.name--full {
  display: none;
  -webkit-animation: down 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
          animation: down 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
}

@media (min-width: 769px) {
  .name--full {
    display: block;
  }
}

.btn {
  background-color: white;
  color: #35373b;
  padding: 1rem 2.2rem;
  text-transform: capitalize;
  border-radius: 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 200;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  outline: none;
}

.btn__text {
  margin-right: 1.6rem;
}

.btn__icon {
  font-size: 1.6rem;
  vertical-align: middle;
}

.btn:hover {
  background-color: orangered;
}

.heading {
  position: absolute;
  opacity: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  text-align: center;
  font-family: "Rubik", sans-serif;
  -webkit-animation: up-home 1s cubic-bezier(0.42, 0, 0, 0.995) 1.3s forwards, fade 0.5s 1.3s cubic-bezier(0.42, 0, 0, 0.995) forwards;
          animation: up-home 1s cubic-bezier(0.42, 0, 0, 0.995) 1.3s forwards, fade 0.5s 1.3s cubic-bezier(0.42, 0, 0, 0.995) forwards;
}

.heading__title {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #6f7377;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 25px;
}

.heading__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  background-color: #6f7377;
  height: 1px;
  width: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 1025px) {
  .heading__title::after {
    height: 2px;
  }
}

.heading__adj {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 46px;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .heading__adj {
    font-size: 100px;
  }
}

@media (min-width: 768px) {
  .heading {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 1024px) {
  .heading {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}

.side-links {
  display: none;
}

@media (min-width: 769px) {
  .side-links {
    display: block;
  }
}

.side-link {
  position: absolute;
  background-color: black;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1.3px solid #35373b;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  width: 25rem;
  padding: 2.5rem 1rem;
  z-index: 100;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 20%;
  text-align: center;
}

@media (min-width: 1024px) {
  .side-link {
    top: 50%;
  }
}

.side-link--left {
  left: -100%;
  -webkit-animation: left 0.5s ease-in-out -0.2s forwards;
          animation: left 0.5s ease-in-out -0.2s forwards;
}

.side-link--right {
  right: -100%;
  -webkit-animation: right 0.5s ease-in-out -0.2s forwards;
          animation: right 0.5s ease-in-out -0.2s forwards;
}

.side-link:hover {
  color: orangered;
}

.side-link:hover + .slider {
  width: 50%;
}

.side-link__text--left {
  margin-left: 3rem;
}

.side-link__text--right {
  margin-right: 3rem;
}

.side-link__img {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 9rem;
}

.side-link__img--left {
  left: -1rem;
}

.side-link__img--right {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  right: -1rem;
}

.slider {
  position: absolute;
  height: 100%;
  top: 0;
  width: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
  transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
  overflow: hidden;
}

.slider--left {
  left: 0;
}

.slider--right {
  right: 0;
}

.social {
  position: fixed;
  left: 5rem;
  bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.social__icon {
  font-size: 1.7rem;
  color: #fff;
  border: none;
  outline: none;
}

.social__icon:hover {
  color: orangered;
}

@media (min-width: 769px) {
  .social {
    left: 8rem;
    bottom: 6.5rem;
  }
}

.wow-element {
  position: relative;
  display: inline-block;
  font-size: 3rem;
}

.wow-element__text {
  visibility: hidden;
  -webkit-animation-name: up;
          animation-name: up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0, 0.995);
          animation-timing-function: cubic-bezier(0.42, 0, 0, 0.995);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

@media (min-width: 769px) {
  .wow-element__text {
    font-size: 5.4rem;
  }
}

.wow-element__text--1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.wow-element__text--2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.wow-element__text--3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.wow-element__text--4 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.wow-element__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0.5px;
  background-color: white;
  -webkit-animation-name: width;
          animation-name: width;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0, 0.995);
          animation-timing-function: cubic-bezier(0.42, 0, 0, 0.995);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wow-element__underline--1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wow-element__underline--2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.wow-element__underline--3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.wow-element__underline--4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.wow {
  position: absolute;
}

.wow-line {
  top: 10rem;
  left: 25%;
  height: 2.6rem;
  background-color: #191a1a;
  -webkit-animation: left-width 2s 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
          animation: left-width 2s 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
}

@media (min-width: 960px) {
  .wow-line {
    -webkit-animation: left-width-small 2s 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
            animation: left-width-small 2s 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
    height: 4rem;
    left: 0;
  }
}

.wow-triangle {
  top: 11rem;
  left: 70%;
  width: 0;
  height: 0;
  border: 1rem solid white;
  border-width: 30px 15px 0 15px;
  border-color: white transparent transparent transparent;
  opacity: 0;
  -webkit-animation: flash 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, left-rotate 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
          animation: flash 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, left-rotate 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
}

@media (min-width: 960px) {
  .wow-triangle {
    -webkit-animation: flash 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, left-rotate 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
            animation: flash 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, left-rotate 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
    left: 12%;
    border-width: 49px 24.5px 0 24.5px;
  }
}

.wow-triangle--2 {
  display: none;
}

@media (min-width: 960px) {
  .wow-triangle--2 {
    display: inline-block;
    -webkit-animation: flash 1s 1.5s cubic-bezier(0.42, 0, 0, 0.995) forwards, left-rotate2 1s 1.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
            animation: flash 1s 1.5s cubic-bezier(0.42, 0, 0, 0.995) forwards, left-rotate2 1s 1.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
    border-width: 30px 15px 0 15px;
    top: 30%;
    left: 80%;
  }
}

.wow-dot {
  display: none;
}

@media (min-width: 960px) {
  .wow-dot {
    display: inline-block;
    -webkit-animation: flash 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
            animation: flash 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
    height: 1rem;
    width: 1rem;
    background-color: white;
    bottom: 9rem;
    right: 35%;
  }
}

.wow-line2 {
  display: none;
}

@media (min-width: 960px) {
  .wow-line2 {
    display: inline-block;
    -webkit-animation: right-width 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
            animation: right-width 1s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
    height: 4rem;
    right: 30%;
    bottom: 3rem;
    background-color: white;
  }
}

.bg {
  position: absolute;
}

.bg__dots {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  height: 401px;
  width: 401px;
}

@media (min-width: 960px) {
  .bg__dots {
    position: absolute;
    left: 60%;
  }
}

.bg__arrow-base {
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  -webkit-animation: up-arrow-base 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
          animation: up-arrow-base 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
}

@media (min-width: 960px) {
  .bg__arrow-base {
    display: none;
  }
}

.bg__arrow-base--large {
  display: none;
}

@media (min-width: 960px) {
  .bg__arrow-base--large {
    display: block;
  }
}

.bg__arrow-head {
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 88px;
  width: 100px;
  -webkit-animation: up-arrow 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
          animation: up-arrow 1s cubic-bezier(0.42, 0, 0, 0.995) forwards, fade 1s cubic-bezier(0.42, 0, 0, 0.995);
}

@media (min-width: 960px) {
  .bg__arrow-head {
    display: none;
  }
}

.bg__arrow-head--large {
  display: none;
}

@media (min-width: 960px) {
  .bg__arrow-head--large {
    display: block;
    height: 121px;
    width: 140px;
  }
}

.bg__lines {
  display: none;
  width: 281px;
  height: 320px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

@media (min-width: 960px) {
  .bg__lines {
    display: block;
  }
}

.main-about {
  background-color: black;
  padding: 0 2rem;
  max-width: 110rem;
  margin: auto;
}

@media (min-width: 960px) {
  .section-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wow-elements-container {
  margin: 14.5rem 0 3rem;
}

@media (min-width: 960px) {
  .wow-elements-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    margin-bottom: 14rem;
  }
}

.wow-elements {
  display: inline-block;
}

.about-me {
  display: inline-block;
  -webkit-animation: up 1s cubic-bezier(0.42, 0, 0, 0.995), fade 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
          animation: up 1s cubic-bezier(0.42, 0, 0, 0.995), fade 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
}

.about-me__text {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2;
}

@media (min-width: 960px) {
  .about-me__text {
    margin-bottom: 5rem;
  }
}

@media (min-width: 960px) {
  .about-me {
    width: 40%;
    margin-top: 20rem;
  }
}

.main {
  position: relative;
  background-color: black;
  height: calc(100vh - 20px);
  margin: 1rem;
}

@media (min-width: 960px) {
  .main {
    height: calc(100vh - 60px);
    margin: 3rem;
  }
}

.links__about, .links__work {
  position: absolute;
  color: #fff;
  text-decoration: none;
  top: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.6rem;
  font-weight: 300;
}

.links__about:hover, .links__work:hover {
  color: orangered;
}

.links__about {
  left: -100%;
  -webkit-animation: leftMobile 0.5s ease-in-out -0.2s forwards;
          animation: leftMobile 0.5s ease-in-out -0.2s forwards;
}

.links__work {
  right: -100%;
  -webkit-animation: rightMobile 0.5s ease-in-out -0.2s forwards;
          animation: rightMobile 0.5s ease-in-out -0.2s forwards;
}

@media (min-width: 769px) {
  .links {
    display: none;
  }
}

.link-home {
  color: black;
}

.sort-section {
  display: block;
  text-align: center;
}

.sorting-list {
  list-style-type: none;
  text-align: center;
  margin-bottom: 3rem;
  display: inline-block;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  position: -webkit-sticky;
  position: fixed;
  top: 30%;
  right: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: slideDown 0.5s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards, fade 0.5s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards;
          animation: slideDown 0.5s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards, fade 0.5s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards;
  opacity: 0;
}

.sorting-list__item {
  color: black;
  cursor: pointer;
  padding: 1.4rem 3rem;
  text-align: center;
  display: block;
  margin: 0.3rem;
}

.sorting-list__item--active {
  background-color: orangered;
}

.sorting-list__item:hover {
  background-color: rgba(255, 69, 0, 0.9);
}

.work__container {
  background-color: white;
}

.work__panel {
  background-color: #191a1a;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0.5rem;
  margin: 2rem 0 2rem;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
}

.item__img-container {
  position: relative;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 3rem;
  text-align: center;
}

.item__img-container:hover .item__description {
  opacity: 1;
  -webkit-animation: slideInLeft 0.5s ease-out forwards;
          animation: slideInLeft 0.5s ease-out forwards;
}

@-webkit-keyframes slideInLeft {
  60% {
    -webkit-transform: translate(103px, -50%);
            transform: translate(103px, -50%);
  }
  100% {
    -webkit-transform: translate(100px, -50%);
            transform: translate(100px, -50%);
  }
}

@keyframes slideInLeft {
  60% {
    -webkit-transform: translate(103px, -50%);
            transform: translate(103px, -50%);
  }
  100% {
    -webkit-transform: translate(100px, -50%);
            transform: translate(100px, -50%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    top: 30%;
  }
  100% {
    top: 40%;
  }
}

@keyframes slideDown {
  0% {
    top: 30%;
  }
  100% {
    top: 40%;
  }
}

.item__img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 80vw;
  height: auto;
  max-width: 800px;
  -webkit-animation: fade 2s forwards cubic-bezier(0.42, 0, 0, 0.995);
          animation: fade 2s forwards cubic-bezier(0.42, 0, 0, 0.995);
}

@media (min-width: 600px) {
  .item {
    margin: 5rem;
  }
}

.item__description {
  position: absolute;
  top: 50%;
  left: -52%;
  width: 30%;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 2rem 3rem;
  z-index: 10;
  color: white;
  border-radius: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(77, 71, 54, 0.6);
}

.item__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  padding-bottom: 0.5rem;
}

.item__text {
  font-size: 1.4rem;
  line-height: 2;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */