.bg {
  position: absolute;

  //   &__logo {
  //     height: 80px;
  //     width: 80px;
  //     top: 0;
  //     left: 50%;
  //     transform: translateX(-50%);
  //   }
  &__dots {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-55%);
    height: 401px;
    width: 401px;
    @media (min-width: 960px) {
      position: absolute;
      left: 60%;
    }
  }
  &__arrow-base {
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    animation: up-arrow-base 1s cubic-bezier(0.42, 0, 0, 0.995) forwards,
      fade 1s cubic-bezier(0.42, 0, 0, 0.995);

    @media (min-width: 960px) {
      display: none;
    }

    &--large {
      display: none;
      @media (min-width: 960px) {
        display: block;
      }
    }
  }
  &__arrow-head {
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 88px;
    width: 100px;
    animation: up-arrow 1s cubic-bezier(0.42, 0, 0, 0.995) forwards,
      fade 1s cubic-bezier(0.42, 0, 0, 0.995);

    @media (min-width: 960px) {
      display: none;
    }

    &--large {
      display: none;
      @media (min-width: 960px) {
        display: block;
        height: 121px;
        width: 140px;
      }
    }
  }
  &__lines {
    display: none;
    width: 281px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);

    @media (min-width: 960px) {
      display: block;
    }
  }
}
