@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up-home {
  from {
    visibility: hidden;
    top: 60%;
  }
  to {
    visibility: visible;
    top: 50%;
    opacity: 1;
  }
}

@keyframes left {
  from {
    left: -30%;
  }
  to {
    left: -2rem;
  }
}

@keyframes leftMobile {
  from {
    left: -30%;
  }
  to {
    left: 15%;
  }
}

@keyframes right {
  from {
    right: -30%;
  }
  to {
    right: -2rem;
  }
}
@keyframes rightMobile {
  from {
    right: -30%;
  }
  to {
    right: 15%;
  }
}

@keyframes downMobile {
  from {
    top: -5rem;
  }
  to {
    transform: translate(-50%, -50%);
    top: 10%;
  }
}

@keyframes down {
  from {
    top: -5rem;
  }
  to {
    transform: translate(-50%, -50%);
    top: 20%;
  }
}

@keyframes width {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes left-width {
  from {
    left: 25%;
    width: 0;
  }
  to {
    width: 25%;
    left: 48%;
  }
}

@keyframes up {
  from {
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes left-rotate {
  0% {
    transform: translate(100px, 0px) rotate(-273deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
