.btn {
  background-color: white;
  color: $color-primary-light;
  padding: 1rem 2.2rem;
  text-transform: capitalize;
  border-radius: 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 200;
  transition: all 0.5s;
  border: none;
  outline: none;

  &__text {
    margin-right: 1.6rem;
  }
  &__icon {
    font-size: 1.6rem;
    vertical-align: middle;
  }
  &:hover {
    background-color: orangered;
    color: white;
  }
}
