.heading {
  position: absolute;
  // top: 50%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  font-family: "Rubik", sans-serif;
  // animation-name: slideUp;
  // animation-duration: 2s;
  // animation-fill-mode: forwards;
  animation: up 1s cubic-bezier(0.42, 0, 0, 0.995) 1s forwards,
    fade 0.5s 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;

  &__name {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #6f7377;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 25px;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background-color: #6f7377;
      height: 1px;
      width: 40px;
      transform: translateX(30%);

      @media (min-width: 1025px) {
        height: 2px;
      }
    }
  }

  &__adj {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 46px;
    font-weight: 700;
    display: block;
    text-transform: capitalize;

    @media (min-width: 768px) {
      font-size: 100px;
    }
  }

  @media (min-width: 768px) {
    transform: translate(-50%, -50%);
  }
  @media (min-width: 1024px) {
    transform: translate(-50%, -60%);
  }
}
