.side-links {
  display: none;
  @media (min-width: 769px) {
    display: block;
  }
}

.side-link {
  position: absolute;
  background-color: black;
  transform: translateY(-50%);
  border: 1.3px solid $color-primary-light;
  color: $color-white;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  width: 25rem;
  padding: 2.5rem 1rem;
  z-index: 100;
  transition: all 0.2s;
  top: 20%;
  text-align: center;

  @media (min-width: 1024px) {
    top: 50%;
  }

  &--left {
    left: -100%;
    animation: left 0.5s ease-in-out -0.2s forwards;
  }

  &--right {
    right: -100%;
    animation: right 0.5s ease-in-out -0.2s forwards;
  }

  &:hover {
    color: orangered;
  }

  &:hover + .slider {
    width: 50%;
  }

  &__text {
    &--left {
      margin-left: 3rem;
    }
    &--right {
      margin-right: 3rem;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 9rem;

    &--left {
      left: -1rem;
    }
    &--right {
      transform: rotateY(180deg);
      right: -1rem;
    }
  }
}
