.slider {
  position: absolute;
  height: 100%;
  top: 0;
  width: 0;
  background-color: $color-white;
  transition: all 0.5s cubic-bezier(0.42, 0, 0, 0.995);
  overflow: hidden;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
