.social {
  position: fixed;
  left: 5rem;
  bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  &__icon {
    font-size: 1.7rem;
    color: $color-white;
    border: none;
    outline: none;

    &:hover {
      color: orangered;
    }
  }

  @media (min-width: 769px) {
    left: 8rem;
    bottom: 6.5rem;
  }
}
